<template>
  <ApplicationForm />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ApplicationForm from '@/components/ApplicationForm.vue'; // @ is an alias to /src

export default defineComponent({
  name: 'Home',
  components: {
    ApplicationForm: ApplicationForm,
  },
});
</script>
