<template>
  <form class="application-form" @submit="submit">
    <div class="row mb-3">
      <div class="col">
        <label for="input-firstname" class="form-label">Firstname</label>
        <input type="text" class="form-control" id="input-firstname" placeholder="Firstname"
               v-model="appForm.firstname">
      </div>
      <div class="col">
        <label for="input-lastname" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="input-lastname" placeholder="Lastname"
               v-model="appForm.lastname">
      </div>
    </div>
    <div class="text-center fw-bold border-bottom pb-1 mb-2">Date of birth</div>
    <div class="row mb-3">
      <div class="col">
        <label for="input-birth-day" class="form-label">Day</label>
        <input type="number" class="form-control" name="birth-day" id="input-birth-day"
               placeholder="Day (e.g. 31)" aria-label="Type day of birth (e.g. 31)"
               v-model="appForm.birthDay">
      </div>
      <div class="col">
        <label for="select-birth-month" class="form-label">Month</label>
        <select id="select-birth-month" name="birth-month" class="form-select"
                v-model="appForm.birthMonth" aria-label="Select month of birth">
          <option value="0" selected disabled>Select month</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>
      <div class="col">
        <label for="input-birth-year" class="form-label">Year</label>
        <input type="number" class="form-control" name="birth-year" id="input-birth-year"
               placeholder="Year (e.g. 1990)" aria-label="Type year of birth (e.g. 1990)"
               v-model="appForm.birthYear">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ApplicationForm',
  data() {
    return {
      appForm: {
        firstname: '',
        lastname: '',
        birthDay: 0,
        birthMonth: 0,
        birthYear: 0,
      },
    }
  },
  methods: {
    submit(event: Event) {
      event.preventDefault();

      if (this.appForm.firstname === ''
          || this.appForm.lastname === ''
          || this.appForm.birthDay === 0
          || this.appForm.birthMonth === 0
          || this.appForm.birthYear === 0
      ) {
        console.error('Empty fields');
        return;
      }
      fetch('http://banking.local/api/v1/apply/', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.appForm)
      }).then((response) => console.log(response.ok))
        .catch((error: Error) => console.error(error.message));
    }
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.application-form {
  max-width: 600px;
}
</style>
